
body {font-family:trebuchet MS; font-size:10px;}
a {color: black;}
.sysmessage {font-size: 10px; color:grey;}

.entry {float:left; margin-right:4px; padding:0px; position:relative;}
.entry .date {color:#FFFFFF; background:#000000;  position:absolute; top:20px; left:0px; padding:3px;}
.entry .sound a {color:#FFFFFF; background:#000000;  position:absolute; bottom:42px; left:0px; padding:3px;}
.entry .title {color:#FFFFFF; background:#000000;  position:absolute; bottom:20px; left:0px; padding:3px;}
.clear {float:none;}

.qp_prev, .qp_next {color:#FFFFFF; background:#000000; padding:3px; margin-right:5px; margin-top:5px;}
.qp_disabled {display: none;}

DIV#loader {
  border: 1px solid #ccc;
  width: 150px;
  height: 201px;
}

DIV#loader.loading {
  background: url(spinner.gif) no-repeat center center;
}
